<script type="text/javascript">
var uid = {uid};
jQuery(document).ready(function() {
  $("a.fancybox").fancybox({
		prevEffect		: 'none',
		nextEffect		: 'none',
		closeBtn		: false,
		helpers		: {
			title	: { type : 'inside' },
			buttons	: {}
		}
  });
});

function starteFancy{uid}() {
	$('#bild'+uid+'1').click();
	return;
};
</script>
<br><p><a href="javascript:starteFancy{uid}();">Die Fotos in groß über eine LightBox ansehen:</a><br>
	<f:for each="{contents}" as="content" iteration="iteration">
<f:if condition="{fal}"><f:then>
<a href="{f:uri.image(src:content.falimage.uid,treatIdAsReference:1)}" rel="fancybox{uid}" class="fancybox gallery" title="{content.title}: {content.shortdesc}" id="bild{uid}{iteration.cycle}"><f:image src="{content.falimage.uid}" maxHeight="65" alt="" title="" treatIdAsReference="1" /></a>
</f:then><f:else>
<a href="/uploads/tx_camaliga/{content.image}" rel="fancybox{uid}" class="fancybox gallery" title="{content.title}: {content.shortdesc}" id="bild{uid}{iteration.cycle}"><f:image src="/uploads/tx_camaliga/{content.image}" maxHeight="65" alt="" title="" /></a>
</f:else></f:if>
	</f:for>
</p>