<f:if condition="{rsearch} == 0">
<f:then>
	<div class="row">
		<div class="col col-sm-3 col-xs-12" class="info">{f:translate(key: 'fulltext')}:</div>
		<div class="col col-sm-3 col-xs-12">
			<f:form.textfield name="sword" placeholder="{f:translate(key: 'searchword')}" value="{sword}" class="form-control" id="rsword" />
		</div>
		<div class="col col-sm-3 col-xs-12" class="info">{f:translate(key: 'place')}:</div>
		<div class="col col-sm-3 col-xs-12">
			<f:form.textfield name="place" placeholder="{f:translate(key: 'searchword')}" value="{place}" class="form-control" id="rplace" />
		</div>
	</div>
	<hr />
</f:then>
<f:else>
	<div class="row">
		<div class="col col-sm-3 col-xs-12" class="info">{f:translate(key: 'fulltext')}:</div>
		<div class="col col-sm-9 col-xs-12">
			<f:form.textfield name="sword" placeholder="{f:translate(key: 'searchword')}" value="{sword}" class="form-control" id="rsword" />
		</div>
	</div>
	<div class="row">
		<div class="col col-sm-3 col-xs-12" class="info">{f:translate(key: 'place')}:</div>
		<div class="col col-sm-3 col-xs-12">
			<f:form.textfield name="place" placeholder="{f:translate(key: 'searchword')}" value="{place}" class="form-control" id="rplace" />
		</div>
		<div class="col col-sm-3 col-xs-12" class="info">{f:translate(key: 'radius')}:</div>
		<div class="col col-sm-3 col-xs-12">
			<f:form.select options="{radiusArray}" name="radius" value="{radius}" class="form-control" id="rradius" />
		</div>
	</div>
	<hr />
</f:else>
</f:if>

<f:if condition="{settings.extended.restrictSearch} == 0">
	<div class="row">
		<div class="col col-sm-3 col-xs-12" class="info">{f:translate(key: 'sortby')}:</div>
		<div class="col col-sm-3 col-xs-12">
			<f:form.select name="sortBy" options="{sorting: 'Standard', title: 'Title', city: 'City', crdate: 'Date'}" class="form-control" value="{sortBy_selected}" />
		</div>
		<div class="col col-sm-3 col-xs-12" class="info">{f:translate(key: 'orderby')}:</div>
		<div class="col col-sm-3 col-xs-12">
			<f:form.select name="sortOrder" options="{asc: 'ascending', desc: 'descending'}" value="{sortOrder_selected}" class="form-control" />
		</div>
	</div>
	<hr />
</f:if>

<f:for each="{categories}" as="catitemVal" key="catitemKey">
   <div class="row">
    <div class="col col-sm-3 col-xs-12" class="info">{catitemVal.title}:</div>
    <div class="col col-sm-9 col-xs-12">
    <f:if condition="{0:catitemVal.description} != {0:'checkbox'}">
      <label for="cat{catitemKey}_0" class="radio-inline">
        <f:form.radio name="cat{catitemKey}" id="cat{catitemKey}_0" value="0" checked="{catitemVal.selected} == 0" />
        {f:translate(key: 'every', default: 'every')} &nbsp;
      </label>
    </f:if>
    <f:for each="{catitemVal.childs}" as="catitemValChild" key="catitemKeyChild">
      <f:if condition="{catitemVal.description} == 'checkbox'">
        <f:then>
          <label for="cat{catitemKey}_{catitemKeyChild}" class="checkbox-inline">
          <f:form.checkbox name="cat{catitemKey}_{catitemKeyChild}" id="cat{catitemKey}_{catitemKeyChild}" value="{catitemKeyChild}" checked="{catitemValChild.selected} == {catitemKeyChild}" />
        </f:then>
        <f:else>
          <label for="cat{catitemKey}_{catitemKeyChild}" class="radio-inline">
          <f:form.radio name="cat{catitemKey}" id="cat{catitemKey}_{catitemKeyChild}" value="{catitemKeyChild}" checked="{catitemVal.selected} == {catitemKeyChild}" />
        </f:else>
      </f:if>
      {catitemValChild.title}</label>
    </f:for>
    </div>
   </div>
   <hr />
</f:for>

<f:if condition="{storagePIDsArray -> f:count()} > 1">
  <f:then>
   <div class="row">
    <div class="col col-sm-3 col-xs-12" class="info">{f:translate(key: 'folder')}:</div>
    <div class="col col-sm-9 col-xs-12">
	<f:for each="{storagePIDsData}" as="storagePIDarray2" key="storagePID">
      <label for="pid_{storagePID}" class="checkbox-inline">
       <f:form.checkbox name="pid_{storagePID}" id="pid_{storagePID}" value="{storagePID}" checked="{storagePIDarray2.selected} == {storagePID}" />
       {storagePIDarray2.title}</label>
	</f:for>
	</div>
   </div>
  </f:then>
</f:if>
<br />