#carousel_inner {
float:left; /* important for inline positioning */
/* width:645px; * important (this width = width of list item(including margin) * items shown */
overflow: hidden;  /* important (hide the items outside the div) */
/* non-important styling bellow */
background: #fff;
padding:0;
margin:0;
}

#carousel_ul {
position:relative;
left:0;
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
width:9999px; /* important */
/* non-important styling bellow */
padding-bottom:10px;
}

#carousel_ul li{
float: left; /* important for inline positioning of the list items */
/* width:195px;  * fixed width, important */
/* just styling bellow*/
list-style-type: none !important;
list-style-image:none !important;
/* padding:0px;
margin:10px;
height:290px; */
background: #eee;
color:#000;
}

#carousel_ul li img {
cursor:pointer;
cursor: hand;
border:0px;
}
#left_scroll, #right_scroll{
float:left;
height:30px;
width:35px;
margin-top:10px;
}
#left_scroll a, #right_scroll a{
display:block;
border:0;
text-decoration:none;
cursor: pointer;
height:30px;
width:30px;
background: transparent url(../Icons/hori_large.png) no-repeat 0 0;
}
#right_scroll a{
	background-position: 0 -30px;
	margin-left:5px;
}
#left_scroll a:hover {
	background-position: -30px 0;
}
#right_scroll a:hover {
	background-position: -30px -30px;
}
#left_scroll a:active {
	background-position: -60px 0;
}
#right_scroll a:active {
	background-position: -60px -30px;
}
.camaliga_first a {
/* here you could display an inactive arrow */
}
.camaliga_last a {
/* here you could display an inactive arrow */
}
	
#carousel_ul li h4,
#carousel_ul li p {
	padding-left:10px;
	padding-right:10px;
}
