<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
		xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:layout name="Backend" />
<f:section name="Content">
	<f:be.pageRenderer
			includeCssFiles="{0: 'EXT:camaliga/Resources/Public/Css/Backend.css'}"
			includeJsFiles="{0: 'EXT:camaliga/Resources/Public/JavaScript/Backend.js'}"
	/>

	<!-- link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" -->
	<h1><f:translate key="LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:thumb.title" /></h1>
	<f:translate key="LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:thumb.text" />

    <br><br>
	<f:if condition="{saved} == 1">
		<p><strong><f:translate key="LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:thumb.saved" /></strong></p>
	</f:if>
	<f:form action="thumb" id="thumbform">
		<ul id="sortable">
		<f:for each="{contents}" as="content">
		  <li class="ui-state-default" id="cami{content.uid}">
		   <div class="flexme">
			<div class="ui-icon ui-icon-arrowthick-2-n-s"></div>
			<div>
			  <f:if condition="{content.falimage.uid} > 0">
				<f:image src="{content.falimage.uid}" alt="{content.title}" title="{content.title}" width="120m" height="75m" treatIdAsReference="1" />
			  </f:if>
			</div>
			<div><h3>{content.title}</h3><p>{content.shortdesc}</p></div>
		   </div>
		   <f:form.hidden name="camelements[{content.uid}]" id="ecami{content.uid}" value="0" />
		  </li>
		</f:for>
		</ul>
		<br>
		<f:form.button type="button" class="btn btn-primary" id="cambutso"><f:translate key="LLL:EXT:camaliga/Resources/Private/Language/locallang_be.xlf:thumb.save" /></f:form.button>
	</f:form>

</f:section>
</html>