{namespace cam=Quizpalme\Camaliga\ViewHelpers}
<f:layout name="Default" />

jQuery Elastislide example. You need the Elastislide plugin from here for this example:
http://tympanus.net/codrops/2011/09/12/elastislide-responsive-carousel/
Extract the zip file and copy it to your fileadmin-folder!
Include the CSS- and JS-file with TypoScript (or here) from your fileadmin-folder.
Note: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPaths.1 = fileadmin/template/files/
Copy this file in a subfolder named "Content" of this folder.

<f:section name="main">
<f:flashMessages />

<!-- Remove this lines if you use TypoScript -->
<cam:addPublicResources path="fileadmin/Resources/Public/Scripts/elastislide/css/elastislide.css"></cam:addPublicResources>
<cam:addPublicResources path="fileadmin/Resources/Public/Scripts/elastislide/js/modernizr.custom.17475.js" compress="FALSE" footer="TRUE"></cam:addPublicResources>
<cam:addPublicResources path="fileadmin/Resources/Public/Scripts/elastislide/js/jquerypp.custom.js" compress="FALSE" footer="TRUE"></cam:addPublicResources>
<cam:addPublicResources path="fileadmin/Resources/Public/Scripts/elastislide/js/jquery.elastislide.js" compress="FALSE" footer="TRUE"></cam:addPublicResources>

<f:if condition="{contents -> f:count()} > 0">
<f:then>
<div class="gallery">
	<!-- Elastislide Carousel -->
	<ul id="carousel" class="elastislide-list">
<f:for each="{contents}" as="content">
	<f:if condition="{content.falimage.uid}"><f:then>
		<li data-preview="{f:uri.image(src:content.falimage.uid,treatIdAsReference:1)}"><a href="#"><f:image src="{content.falimage.uid}" alt="{content.title}" title="{content.title}" height="{settings.img.thumbHeight}" treatIdAsReference="1" /></a></li>
  	</f:then></f:if>
</f:for>
	</ul>
	<!-- End Elastislide Carousel -->
	<div class="image-preview">
		<img id="preview" src="/clear.gif" class="img-fluid" />
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
	var current = 0,
	preview = $( '#preview' ),
	carouselEl = $( '#carousel' ),
	carouselItems = carouselEl.children(),
	carousel = carouselEl.elastislide( {
		current : current,
		minItems : 4,
		onClick : function( el, pos, evt ) {
			changeImage( el, pos );
			evt.preventDefault();
		},
		onReady : function() {
			changeImage( carouselItems.eq( current ), current );
		}
	} );
	function changeImage( el, pos ) {
		preview.attr( 'src', el.data( 'preview' ) );
		carouselItems.removeClass( 'current-img' );
		el.addClass( 'current-img' );
		carousel.setCurrent( pos );
	}
});
</script>
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p>
</f:else>
</f:if>
</f:section>