{namespace cam=Quizpalme\Camaliga\ViewHelpers}
<f:layout name="Default" />

Note: this template is deprecated. Use the extension fp_fractionslider instead!
This template is a slider that requires jQuery and FractionSlider from here:
http://jacksbox.de/fractionslider-demos/background-animation/
Download the FractionSlider and include it with the cam:addPublicResources here in the file (change the path!).

Start it with (replace the last values in dimensions with the width and height of your background image; thats very important):

page.jsFooterInline.819 = TEXT
page.jsFooterInline.819.value = jQuery(window).load(function(){  $('.fractionSlider').fractionSlider({'backgroundEase' : 'easeOutCubic', 'increase' : true, 'fullWidth': true, 'controls': true, 'pager': false, 'responsive': true, 'dimensions': '800,600'}); });

Hint: use the caption and custom fields to set individual animation effects! Replace then
 data-in="right" data-position="330,200" data-delay="800" data-time="1750"
with
 {content.custom1}
and so on.
Note: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPaths.1 = fileadmin/template/files/
Copy this file in a subfolder named "Content" of this folder.

<f:section name="main">
<f:flashMessages />
<cam:addPublicResources path="fileadmin/Resources/Public/Contrib/FractionSlider/css/fractionslider.css"></cam:addPublicResources>
<cam:addPublicResources path="fileadmin/Resources/Public/Contrib/FractionSlider/jquery.fractionslider.min.js" compress="FALSE" footer="TRUE"></cam:addPublicResources>

<f:if condition="{contents -> f:count()} > 0">
<f:then>
	<div class="fractionSlider"><!-- your slider container -->
	 <f:for each="{contents}" as="content" iteration="iteration">
	  <div class="slide">
	    <f:if condition="{content.falimage.uid}"><f:then>
		  <f:image src="{content.falimage.uid}" alt="{content.title}" title="{content.title}" additionalAttributes="{data-fixed: 'data-fixed'}" treatIdAsReference="1" />
		</f:then></f:if>
		<h4 data-position="180,200" data-delay="500"  data-time="1250">{content.title}</h4>
		<f:if condition="{content.shortdesc}"><p data-in="right" data-position="330,200" data-delay="800" data-time="1750" class="fraction-text"><f:format.nl2br>{content.shortdesc}</f:format.nl2br></p></f:if>
		<f:if condition="{content.longdesc}"><div data-in="right" data-position="400,200" data-delay="1500" data-time="2750" class="fraction-text"><f:format.html>{content.longdesc}</f:format.html></div></f:if>
		<f:if condition="{content.link} != ''"><p data-in="right" data-position="500,200" data-delay="500" data-time="3000">
			<f:link.typolink parameter="{content.link}" class="btn btn-default">{f:translate(key: 'more')}</f:link.typolink>
		</p></f:if>
		<f:if condition="{content.falimage2.uid}"><f:image src="{content.falimage2.uid}" alt="{content.falimage2.originalResource.originalFile.alternative}" title="{content.falimage2.originalResource.originalFile.title}" additionalAttributes="{data-in:'top',data-position:'330,800',data-delay:'500',data-time:'1900'}" treatIdAsReference="1" /></f:if>
	    <f:if condition="{content.falimage3.uid}"><f:image src="{content.falimage3.uid}" alt="{content.falimage3.originalResource.originalFile.alternative}" title="{content.falimage3.originalResource.originalFile.title}" additionalAttributes="{data-in:'top',data-position:'330,1200',data-delay:'500',data-time:'2000'}" treatIdAsReference="1" /></f:if>
	  </div>
	 </f:for>
	  <div class="fs_loader"></div>
	</div>
	<div class="clearer"></div>
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p>
</f:else>
</f:if>
</f:section>