<f:layout name="Default" />

Note: I guess this template is outdatet.
This template is a parallax gallery from here:
http://pixelcog.github.io/parallax.js/
Download parallax.min.js and include it like this with TypoScript:

page {
  includeJSFooter.parallax = fileadmin/Resources/Public/Scripts/parallax/parallax.min.js
}

Customise the CSS-styles.

Note 1: the images should be larger than the min-height (best: 2x min-height).
You must specify the real width and height of the images via: settings.img.width and settings.img.height.
Note 2: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPaths.1 = fileadmin/template/files/
Copy this file in a subfolder named "Content" of this folder.
Note 3: An alternative parallax gallery: http://codepen.io/pederan/full/Hheuy

<f:section name="main">
<f:flashMessages />
<style>
.parallax-window {
    min-height: {settings.img.thumbHeight}px;
    background: transparent;
}
.item-parallax {
	padding: 10px 0;
}
</style>

<f:if condition="{contents -> f:count()} > 0">
<f:then>
    <f:for each="{contents}" as="content" iteration="iteration">
		<div class="parallax-window" data-parallax="scroll" data-image-src="{f:uri.image(src:content.falimage.uid,treatIdAsReference:1)}"
			 data-natural-width="{settings.img.width}" data-natural-height="{settings.img.height}" data-speed="{settings.more.speed}"><!-- nix --></div>
        <div class="container"><div class="row"><div class="col-md-12">
          <div class="item-parallax">
			<h2>{content.title}: <f:format.raw>{content.shortdesc}</f:format.raw></h2>
			<br>
			<f:format.html>{content.longdesc}</f:format.html>
			<f:if condition="{content.link} != ''"><p>
				<f:link.typolink parameter="{content.link}">{f:translate(key: 'more')}</f:link.typolink>
			</p></f:if>
		  </div>
		</div></div></div>
    </f:for>
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p>
</f:else>
</f:if>
</f:section>