<f:layout name="Default" />

This template is a gallery that requires jQuery and prettyPhoto from here:
http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/documentation
Download it and include it like this with TypoScript:

page {
  includeJSFooter.prettyphoto = fileadmin/Resources/Public/Scripts/jquery.prettyPhoto.js
  includeCSS.prettyphoto = fileadmin/Resources/Public/Css/prettyPhoto.css
}

Start it with:

page.jsFooterInline.810 = TEXT
page.jsFooterInline.810.value =   $(document).ready(function(){    $("a[rel^='prettyPhoto']").prettyPhoto({theme: 'facebook',slideshow:5000, autoplay_slideshow:true});  });

Note: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPaths.1 = fileadmin/template/files/
Copy this file in a subfolder named "Content" of this folder.
 
<f:section name="main">
<f:flashMessages />

<f:if condition="{contents -> f:count()} > 0">
<f:then>
    <div class="pretty-carousel">
      <f:for each="{contents}" as="content" iteration="iteration">
		<f:if condition="{content.falimage.uid}">
			<a href="{f:uri.image(src:content.falimage.uid,treatIdAsReference:1)}" rel="prettyPhoto[pp_gal{uid}]" title="{content.shortdesc}"><f:image src="{content.falimage.uid}" alt="{content.title}" maxWidth="{settings.img.thumbWidth}" maxHeight="{settings.img.thumbHeight}" treatIdAsReference="1" /></a>
		</f:if>
      </f:for>
    </div>
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p>
</f:else>
</f:if>
</f:section>
