<f:layout name="Default" />
<f:comment>
Note: this templat is deprecated. Use the extension fp_fractionslider instead!!!
This template is a Revolution Slider example that requires jQuery and the revolution slider from here:
https://codecanyon.net/item/slider-revolution-responsive-jquery-plugin/2580848
Include the Revolution Slider JS- and CSS-files by yourself.

Note: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPaths.1 = fileadmin/template/files/
Copy this file in a subfolder named "Content" of this folder.
</f:comment>

<f:section name="main">
<f:flashMessages />
<f:if condition="{contents -> f:count()} > 0">
<f:then>
<section class="main-slider style-one">
 <div class="tp-banner-container">
  <div class="tp-banner">
   <ul>
	<f:for each="{contents}" as="content" iteration="iteration">
		<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="<f:if condition="{fal}"><f:then>{f:uri.image(src:content.falimage.uid,treatIdAsReference:1)}</f:then><f:else>/uploads/tx_camaliga/{content.image}</f:else></f:if>" data-saveperformance="off" data-title=" ">
			<img src="<f:if condition="{fal}"><f:then>{f:uri.image(src:content.falimage.uid,treatIdAsReference:1)}</f:then><f:else>/uploads/tx_camaliga/{content.image}</f:else></f:if>" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
			<div class="tp-caption sft sfb tp-resizeme"
				data-x="center" data-hoffset="0"
				data-y="center" data-voffset="0"
				data-speed="1500"
				data-start="500"
				data-easing="easeOutExpo"
				data-splitin="none"
				data-splitout="none"
				data-elementdelay="0.01"
				data-endelementdelay="0.3"
				data-endspeed="1200"
				data-endeasing="Power4.easeIn">
				<div class="bg-box text-center">
					<h5>{content.title}</h5>
					<h2>{content.shortdesc}</h2>
					<f:if condition="{content.link} != ''"><f:link.typolink parameter="{content.link}">{f:translate(key: 'more')}</f:link.typolink></f:if>
				</div>
			</div>
		</li>
	</f:for>
   </ul>     
   <div class="tp-bannertimer"></div>
  </div>
 </div>
</section>
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p>
</f:else>
</f:if>
</f:section>