<f:layout name="Default" />

Note: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPaths.1 = fileadmin/template/files/
Copy this file in a subfolder named "Content" of this folder.
  
<f:section name="main">
<f:flashMessages />
<f:if condition="{settings.maps.dontIncludeAPI} == 0">
	<f:if condition="{settings.maps.key}"><f:then>
		<script src="https://maps.googleapis.com/maps/api/js?v=3&key={settings.maps.key}&language={settings.maps.language}"></script>
	</f:then><f:else>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&language={settings.maps.language}"></script>
	</f:else></f:if>
</f:if>

<f:if condition="{onlySearchForm} == 0">
<div id="map_canvas" style="width:100%; height:{settings.item.height}px;"></div>
<script type="text/javascript">
  var map;
  var bounds;
  var infowindow = false; 
  var zoomLevel = {settings.maps.zoom};
  var startLat = {settings.maps.startLatitude};
  var startLon = {settings.maps.startLongitude};
  var counter = 0;
  
  function initializeGM() {
	var latlng = new google.maps.LatLng(startLat,startLon);
	var myOptions = {
	  zoom: zoomLevel,
	  center: latlng,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	bounds = new google.maps.LatLngBounds();
  }
  
  function addToGM(koord1,koord2,title,titleLinked,content,bildtag,address,place,distance,nr_all) {
	var myLatlng = new google.maps.LatLng(koord1,koord2);
	var contentString = '<div style="float:left;width:{settings.img.thumbWidth}px;">'+bildtag+'</div><div style="float:left;width:250px;padding-left:16px;"><div><b>'+titleLinked+'</b></div><p>'+content+'</p><p>'+address+'<br>'+place+'</p>';
	if (distance != '')
		contentString = contentString + "<p>{f:translate(key: 'distance', default: 'distance')}: "+distance+' km</p>';
	contentString = contentString + '</div>';

	var marker = new google.maps.Marker({
		position: myLatlng,
		map: map,
		title: title
	});
	bounds.extend(marker.getPosition());

	google.maps.event.addListener(marker, 'click', function() {
		if (infowindow) infowindow.close(); 	
		infowindow = new google.maps.InfoWindow({
			content: contentString
		});
		infowindow.open(map,marker);
	});
  }
//  $(document).ready(function() {
	initializeGM();
//  });
	<f:for each="{contents}" as="content" iteration="iter"><f:if condition="{content.latitude} != 0">
  addToGM({content.latitude},{content.longitude},'<f:format.raw>{content.titleNl2br}</f:format.raw>','<f:if condition="{settings.showId} > 0"><f:then><f:link.action action="showExtended" pageUid="{settings.showId}" arguments="{content : content}"><f:format.raw>{content.titleNl2br}</f:format.raw></f:link.action></f:then><f:else><f:link.action action="showExtended" arguments="{content : content}"><f:format.raw>{content.titleNl2br}</f:format.raw></f:link.action></f:else></f:if>','<f:format.raw>{content.shortdescNl2br}</f:format.raw>','<f:if condition="{content.falimage.uid}"><f:image src="{content.falimage.uid}" maxHeight="{settings.img.thumbHeight}" alt="{content.title}" title="{content.title}" treatIdAsReference="1" /></f:if>','{content.streetNl2br}','{content.zip} {content.city}','<f:if condition="{content.distance} > 0"><f:then><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{content.distance}</f:format.number></f:then></f:if>',{iter.cycle});
  counter++;
	</f:if></f:for>
	if (counter > 1) {
	  map.fitBounds(bounds);
	}
</script>
<div style="clear: both; height: 5px;">&nbsp;</div>
<p>{contents -> f:count()} {f:translate(key: 'entries_found')}</p>
</f:if>

<f:form action="search" name="camaliga">
	<div class="well">
	  <h3>{f:translate(key: 'options', default: 'Options')}</h3>
	  <f:render partial="Options" arguments="{_all}" />
	  <f:form.submit name="search" value="{f:translate(key: 'search', default: 'search')}" class="btn btn-primary" />
	</div>
</f:form>
</f:section>
